<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>   
  </ion-toolbar>
</ion-header>
<ion-content color="secondary" padding>
    <form class="form" [formGroup]="angForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col >           
            <ion-item>
              <ion-label position="floating" >Email</ion-label>
              <ion-input type="text" formControlName="email" #email ></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="angForm.get('email').hasError(validation.type) && (angForm.get('email').dirty || angForm.get('email').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>           
          </ion-col>
          </ion-row>
          <ion-row>
          <ion-col >                
            <ion-item>
              <ion-label position="floating" >Password</ion-label>
              <ion-input type="text" formControlName="password" #password ></ion-input>
            </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                      <div class="error-message" *ngIf="angForm.get('password').hasError(validation.type) && (angForm.get('password').dirty || angForm.get('password').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>  
            </ion-col>
        </ion-row> 
      </ion-grid>

      <ion-row>
        <ion-col col-9></ion-col>
        <ion-col><p class="go-to-login"><a (click)="goToForgotPasswordPage()">Forgot Password</a></p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button button color="dark" (click)="login(angForm.value)" expand="block"  [disabled]="!angForm.valid" fill="outline">
            LOGIN
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-5>
          <ion-button color="dark" (click)="fbLogin()"  fill="outline">
            Facebook
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-5>
          <ion-button color="danger" (click)="googleLogin()" fill="outline">
            Google
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
     
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button button color="dark" class="submit-btn" (click)="goToRegisterPage()" expand="block" fill="outline">
            Create an account
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
  <ion-footer class="login-footer" >
    <ion-toolbar color="dark">
      <ion-title> <a href="javascript:void(0)"><span class="rightHelp"><ion-icon name="help-circle"></ion-icon></span></a></ion-title>
    </ion-toolbar>
  </ion-footer>
