<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>

  <form [formGroup]="registrationForm" class="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input type="text" formControlName="name" #name></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message"
                *ngIf="registrationForm.get('name').hasError(validation.type) && (registrationForm.get('name').dirty || registrationForm.get('name').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" #email></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Gender</ion-label>
              <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.gender">
                <div class="error-message"
                  *ngIf="registrationForm.get('gender').hasError(validation.type) && (registrationForm.get('gender').dirty || registrationForm.get('gender').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">D.O.B</ion-label>
              <ion-input type="text" formControlName="dob" #dob></ion-input>
          
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.dob">
                <div class="error-message"
                  *ngIf="registrationForm.get('dob').hasError(validation.type) && (registrationForm.get('dob').dirty || registrationForm.get('dob').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          
        </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Mobile No</ion-label>
            <ion-input type="text" formControlName="mobile" #mobile></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.mobile">
              <div class="error-message"
                *ngIf="registrationForm.get('mobile').hasError(validation.type) && (registrationForm.get('mobile').dirty || registrationForm.get('mobile').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="text" formControlName="password" #password></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="registrationForm.get('password').hasError(validation.type) && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row>
      <ion-col>
        <ion-button button color="secondary" class="submit-btn" round expand="block" [disabled]="!registrationForm.valid"
          (click)="submit(registrationForm.value)"> Register </ion-button>
      </ion-col>
      <ion-col>
        <p class="go-to-login">Already have an account?
          <a (click)="goToLoginPage()">Try to Log In.</a>
        </p>
      </ion-col>
    </ion-row>
  </form>


  <!-- <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="primary">Gender</ion-label>
      <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
        <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
      </ion-select>
    </ion-item>
    <div formGroupName="country_phone">
      <ion-item>
        <ion-label position="floating" color="primary">Country</ion-label>
        <ion-select formControlName="country" cancelText="Cancel" okText="OK">
          <ion-select-option *ngFor="let item of countries" [value]="item">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="primary">Phone</ion-label>
        <ion-input placeholder="{{ validations_form.value.country_phone.country.sample_phone }}" type="text" formControlName="phone"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.phone">
          <div class="error-message" *ngIf="validations_form.get('country_phone').get('phone').hasError(validation.type) && (validations_form.get('country_phone').get('phone').dirty || validations_form.get('country_phone').get('phone').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>


    <div formGroupName="matching_passwords">
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirm_password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.confirm_password">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>-->
  <!-- These validations are for the form group -->
  <!-- <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.matching_passwords">
        <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label color="primary">I accept terms and conditions</ion-label>
      <ion-checkbox color="primary" formControlName="terms"></ion-checkbox>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Submit data</ion-button>
  </form> -->
</ion-content>
<ion-footer class="login-footer" >
  <ion-toolbar color="dark">
    <ion-title> <a href="javascript:void(0)"><span class="rightHelp"><ion-icon name="help-circle"></ion-icon></span></a></ion-title>
  </ion-toolbar>
</ion-footer>