<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding>

  <form [formGroup]="registrationForm" class="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Full Name</ion-label>
            <ion-input type="text" formControlName="name" #name></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
              <div class="error-message"
                *ngIf="registrationForm.get('name').hasError(validation.type) && (registrationForm.get('name').dirty || registrationForm.get('name').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" formControlName="email" #email></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="registrationForm.get('email').hasError(validation.type) && (registrationForm.get('email').dirty || registrationForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Gender</ion-label>
              <ion-select formControlName="gender" cancelText="Cancel" okText="OK">
                  <ion-select-option *ngFor="let gender of genders" [value]="gender">{{gender}}</ion-select-option>
              </ion-select>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.gender">
                <div class="error-message"
                  *ngIf="registrationForm.get('gender').hasError(validation.type) && (registrationForm.get('gender').dirty || registrationForm.get('gender').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">D.O.B</ion-label>
              <ion-input type="text" formControlName="dob" #dob></ion-input>
          
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.dob">
                <div class="error-message"
                  *ngIf="registrationForm.get('dob').hasError(validation.type) && (registrationForm.get('dob').dirty || registrationForm.get('dob').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </ion-col>
          
        </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Mobile No</ion-label>
            <ion-input type="text" formControlName="mobile" #mobile></ion-input>
          </ion-item>

          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.mobile">
              <div class="error-message"
                *ngIf="registrationForm.get('mobile').hasError(validation.type) && (registrationForm.get('mobile').dirty || registrationForm.get('mobile').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="text" formControlName="password" #password></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message"
                *ngIf="registrationForm.get('password').hasError(validation.type) && (registrationForm.get('password').dirty || registrationForm.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
        <ion-col>
          <ion-button button color="dark" (click)="register(registrationForm.value)" expand="block"  [disabled]="!registrationForm.valid" fill="outline">
              Register
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
        <ion-row>
        <ion-col>
          <ion-button button color="dark" (click)="goToLoginPage()" expand="block" fill="outline">
              Have an account?  Sign In
            <ion-icon slot="end" name="create"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
  </form>
</ion-content>
<ion-footer class="login-footer" >
  <ion-toolbar color="dark">
    <ion-title> <a href="javascript:void(0)"><span class="rightHelp"><ion-icon name="help-circle"></ion-icon></span></a></ion-title>
  </ion-toolbar>
</ion-footer>