<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard</ion-title> 
    <div class="logo" aligh="right">
      <img src="../../assets/images/logo.png">
    </div>  
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" padding class="has-header has-footer">
  <ion-row>
    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">Add Category <span>1</span></div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">View Category <span>1</span></div>
        </div>
      </div>
    </ion-col>

    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">Category Settings <span>1</span></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 (click)="requestRepair()">
      <div class="box_wrap"><img src="../../assets/images/RequestRepair.jpg">
        <div class="title">
          <div class="dash_ic1">Add Product <span>1</span></div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="box_wrap" (click)="redirectds()"><img src="../../assets/images/ViewWorkOrders.jpg">
        <div class="title">
          <div class="dash_ic2">View Product List <span>1</span></div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6 (click)="pendingQuote()">
      <div class="box_wrap"><img src="../../assets/images/PendingQuoteApproval.jpg">
        <div class="title">
          <div class="dash_ic3">Product Settings <span>1</span></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">Add Offers <span>1</span></div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">View Current Running Offers <span>1</span></div>
        </div>
      </div>
    </ion-col>

    <ion-col col-6 (click)="pendingInvoice()">
      <div class="box_wrap"><img src="../../assets/images/PendingInvoiceApproval.jpg">
        <div class="title">
          <div class="dash_ic4">Offers Settings <span>1</span></div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-6>
      <div class="box_wrap" (click)="appSettings()"><img src="../../assets/images/AppSettings.jpg">
        <div class="title text-center">
          <div class="dash_ic5">Profile Settings <span>1</span></div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="box_wrap" (click)="doLogout()"><img src="../../assets/images/LogoutFromApp.jpg">
        <div class="title text-center">
          <div class="dash_ic6">Logout</div>
        </div>
      </div>
    </ion-col>
    <ion-col col-6>
      <div class="box_wrap" (click)="doLogout()"><img src="../../assets/images/LogoutFromApp.jpg">
        <div class="title text-center">
          <div class="dash_ic6"> Upcoming Deal & Notification</div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer class="login-footer" >
  <ion-toolbar color="dark">
    <ion-title> <a href="tel:8574598158"><i class="material-icons">phone</i> <span> Emergency : </span>8574598158</a></ion-title>
  </ion-toolbar>
</ion-footer>

