<ion-toolbar color="secondary">
    <ion-title>Pay-Commerce</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="clickedSearch()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-searchbar placeholder="Search Favorites"></ion-searchbar>
  <ion-buttons slot="primary">
    <ion-button button color="dark" (click)="goToLoginPage()" expand="block" fill="outline">
        Sign-In
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
    <ion-button button color="dark" (click)="goToRegisterPage()" expand="block" fill="outline">
        Sign-Up
        <ion-icon slot="end" name="create"></ion-icon>
      </ion-button>
  </ion-buttons>
  <!-- <ion-title>Secondary Toolbar</ion-title> -->
</ion-toolbar>

  <ion-segment>
    <ion-segment-button value="all" checked>
      All
    </ion-segment-button>
    <ion-segment-button value="favorites">
      Favorites
    </ion-segment-button>
    <ion-segment-button value="popular">
      Popular
    </ion-segment-button>
  </ion-segment>


<!-- <ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button fill="solid">
      <ion-icon slot="start" name="contact"></ion-icon>
      Contact
    </ion-button>
  </ion-buttons>
  <ion-title>Solid Buttons</ion-title>
  <ion-buttons slot="primary">
    <ion-button fill="solid" color="secondary">
      Help
      <ion-icon slot="end" name="help-circle"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar> -->

<!-- <ion-toolbar>
  <ion-buttons slot="secondary">
    <ion-button>
      Account
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button color="danger">
      Edit
    </ion-button>
  </ion-buttons>
  <ion-title>Text Only Buttons</ion-title>
</ion-toolbar> -->
<ion-toolbar color="dark">
  <ion-title></ion-title>
</ion-toolbar>